/* Vos styles existants ici... */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('A3.jpg.JPG') center/cover no-repeat; /* Remplacez 'chemin_vers_votre_image.jpg' par le chemin réel de votre image */
}

.navbar {
  background-color: #333;
  overflow: hidden;
  text-align: right;
}

/* ... Autres styles de la navbar ... */

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  text-align: center;
  margin-top: 20px;
}

input[type="text"] {
  padding: 12px;
  width: 300px;
  box-sizing: border-box;
  border-radius: 20px;
}

input[type="submit"] {
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* Nouveaux styles pour centrer et agrandir h1 */
h1 {
  text-align: center;
  font-size: 2em;
  margin-top: 50px;
}

